/**
 * Main Stylesheet file for augbog.github.io
 */

// Mixins
@import "mixins/breakpoint";

// Modular styles
@import "modules/header";
@import "modules/hero";

// Other styles
@import "modules/reset";