@mixin breakpoint($size) {
  @media only screen and (max-width: $size + px) { @content; }
}

body {
  margin: 0;
}

.main-wrapper {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);

  h1 {
    font-family: 'Open Sans Condensed', helvetica, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 36px;
    margin: 10px 0px 10px 0px;
  }

  .social-icons {
    .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0px 10px 0px 10px;

      @include breakpoint(600) {
        width: 30px;
        height: 30px;
      }
    }

    svg {
      width: inherit;
      height: inherit;
    }

    .twitter {
      fill: #5EA9DD;
    }

    .linkedin {
      fill: #0077B5;
    }
  }
}