.animate-link {
  border-bottom: 0.5px solid transparent;
  &:hover {
    cursor: pointer;
    transition: border-color 0.5s ease-in 0s;
    border-color: rgba(0,0,0,0.2);
  }
}

body {
  transition: all 0.5s ease-in 0s;
}

@mixin darkMode {
  color: white !important;
  font-weight: 800 !important;

  .github, .mail-icon {
    use {
      fill: white !important;
    }
  }

  .content {
    background: transparent !important;
  }

  .job-title, .description, .email {
    font-weight: 400 !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    @include darkMode();
  }
}