/**
 * Header styles
 **/

 header {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 200;

  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 3;

  @include breakpoint(600) {
    text-align: center;
  }

  .header-container {
    display: flex;

    margin: 0px 20px;
  }

  .left-align {
    align-self: flex-start;
  }

  .right-align {
    margin-left: auto;
  }

  .secondary-nav {
    line-height: 22px;
  }

  .mail-icon {
    width: 15px;
    height: 22px; // set the height so it vertically aligns
    vertical-align: bottom;
  }

  li {
    display: inline-block;
    height: auto;

    margin: 0px 20px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .profile {
    border-radius: 50%;
  }
}