/**
 * Hero styles
 **/

.hero {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  position: relative;
  overflow: hidden;

  .content {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.7);
    padding: 20px 0px;
  }

  h1 {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -0.5px;
    margin-bottom: 5px;

    &.quote {
      font-size: 26px;
      max-width: 60%;

      @include breakpoint(600) {
        font-size: 24px;
        max-width: 80%;
      }
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
  }

  .social-icons {
    .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0px 10px;

      &:hover, &:focus {
        transition: transform 0.1s ease-out 0s;
        transform: scale(1.2);
      }

      @include breakpoint(600) {
        width: 30px;
        height: 30px;
      }
    }

    svg {
      width: inherit;
      height: inherit;
    }

    .twitter {
      fill: #5EA9DD;
    }

    .linkedin {
      fill: #0077B5;
    }
  }
}

.profile {
  width: 100px;
  border-radius: 50%;
}